html, body, #root {
  width: 100%;
  height: 100%;
}

body {
  line-height: 1.5;
}

.flex-grow{
  flex-grow: 1;
}

:root{
  --sidebar-width: 240px;
}

/* Header */

.header{
  text-align: center;
}

.menu-button{
  margin-left: -12px;
  margin-right: 20px;
}

/* Drawer & Sidebar */

.drawer-mobile{
  display: block;
  position: relative;
}

.drawer-desktop{
  display: none;
}

.sidebar-container {
  width: 100%;
  z-index: 1;
  overflow: hidden;
  position: relative;
}

.sidebar{
  width: var(--sidebar-width);
}

@media screen and (min-width: 960px){
  .header{
    margin-left: var(--sidebar-width);
    width: calc(100% - var(--sidebar-width)) !important;
  }

  .menu-button{
    display: none !important;
  }

  .drawer-mobile{
    display: none;
  }
  
  .drawer-desktop{
    display: block;
    position: relative;
  }
}

